certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
clarifai
configparser==3.8.1
cryptography==41.0.2
emoji==0.5.4
future>=0.18.3
googleapis-common-protos==1.6.0
grpcio==1.53.0
idna==2.8
jsonschema==2.6.0
protobuf==3.10.0
pycparser==2.19
PySocks==1.7.1
python-telegram-bot==10.1.0
requests==2.22.0
six==1.12.0
tornado==6.0.3
urllib3==1.25.6
dnspython==1.16.0
pymongo==3.10.0
